.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



html, body, h1, h2, h3,h4,h5,h6,p,img,picture{
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--primary-font);
    color: var(--Very-Dark-Cyan);
}

:root{
    /* --primary-color */
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);

    /* --secondary-color */
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);


    /* font-family */
    --primary-font: 'Open Sans';
    --secondary-font: 'Poppins';
}

.outlined-btn{
    border-radius: 3rem;
    border: 1px solid var(--Pink);
    padding: 0.5rem 1rem;
    background-color: white;
    color: var(--Pink);
    cursor: pointer;
}

.filled-btn{
    border-radius: 3rem;
    border: none;
    outline: none;
    padding: 1.5rem 5rem;
    background-color: var(--Pink);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.filled-btn:hover{
    background-color: var(--Light-Pink);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
header img{
    width: 11rem;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.center{
    text-align: center;
}
.center h1{
    font-size: 2.5rem;
    font-family: var(--secondary-font);
    font-weight: 700;
}
.center p{
    padding: 1rem 30%;
    font-family: var(--secondary-font);
}

.mockup{
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mockup img{
    width: 50rem;
}

.box{
    display: grid;
    gap: 2;
    grid-template-columns: 50% 50%;
    margin-top: 5rem;
}
.box1{
    display: flex;
    justify-content: center;
}
.box1 div{
    width: 15rem;
    padding: 2rem;
}
.box1 h2{
    font-size: 4rem;
}
.box1 p{
    color: grey;
}
.section1{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    background-image: url(./images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem;
}
.section1 img{
    width: 25rem;
}